@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background: url('../img/bone-background.jpg');
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.hours {
  background-color: black;
}

.p_hour {
  font-weight: bold;
  display: inline;
}

.p_capacity {
  font-weight: bold;
  display: inline;
}

/* From Log In */

.main-section {
  margin: 0 auto;
  margin-top: 130px;
  padding: 0;
}

.modal-content {
  background-color: #434e5a!important;
  opacity: 0.8;
  padding: 0 18px;
  border-radius: 10px;
}

.hours-content {
  background-color: white!important;
  opacity: 1!important;
}

.form-group {
  margin-bottom: 25px;
}

.form-control {
  text-align: left;
}

.form-input button {
  width: 40%;
  margin: 5px 0 25px;
}

.btn-success {
  border-radius: 5px;
  padding: 7px 14px;
}

.register {
  padding: 5px 0 25px;
}

.register a {
  color: #daf1ff;
}

.title {
  font-family: 'Exo 2', sans-serif;
  color: white;
  font-size: 2rem;
}

/*============= NAVIGATION =============*/

.navbar-brand img {
  height: 3rem;
}
.navbar {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.nav-item {
  padding: 0.5rem;
}
.nav-link {
  color: #5b5555!important;
}
.nav-link.active,
.nav-link:hover {
  color: #73c1b0!important;
}
.log-out {
  margin-top: 0.5rem;
  height: 2.5rem;
}
.log-out-a {
  margin-top: -0.5rem;
  color: white!important;
}
.log-out-a:hover {
  color: white!important;
}
